<body>
    <h1 class="con">CONTACTANOS</h1>
    <p> Horario de atencion de o8 a 12 hs
        15 a 20 hs</p>
    <div>
        <p>SEGUINOS EN NUESTRAS REDES SOCIALES</p>
        <a class="face" href="https://www.facebook.com/profile.php?id=100030484641134" title="facebook"><img
                src="../../../assets/facebook.png" alt="" height="30" width="30"></a>
        <a class="fab fa-whatsapp" href="https://web.whatsapp.com/" target="_blank"> <img
                src="../../../assets/whatsapp.png" alt="" height="30" width="30"></a>
        <a class="fab fa-instagram" href="https://www.instagram.com/accesorios_fashion.smile/" target="_blank"> <img
                src="../../../assets/instagram.png" alt="" height="30" width="30"></a>
    </div>
    <p>UBICACION</p>
    <img src="../../../assets/maps.png" alt="" height="50" width="50">
    <div aling="center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d49657.03885519778!2d-67.99026409999999!3d-38.93392065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x960a30ee145c2355%3A0x488e3620b435393c!2sCipolletti%2C%20R%C3%ADo%20Negro!5e0!3m2!1ses-419!2sar!4v1662638668058!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>