<div class="container" >
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="../../assets/logoB.png" alt="" height="250" width="250">
        </a>
        <p class="text-muted">&copy; 2022</p>
      </div>
  
      <div class="col mb-3"></div>

      <div class="col mb-3">
        <h5 class="foo">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="home" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="contacto" class="nav-link p-0 text-muted">Contacto</a></li>
          <li class="nav-item mb-2"><a routerLink="unidad" class="nav-link p-0 text-muted">Pulseras</a></li>
          <li class="nav-item mb-2"><a routerLink="compartir" class="nav-link p-0 text-muted">Pulseras para compartir</a></li>
          <li class="nav-item mb-2"><a routerLink="set" class="nav-link p-0 text-muted">Set de Pulseras</a></li>
          <li class="nav-item mb-2"><a routerLink="tobilleras" class="nav-link p-0 text-muted">Tobilleras</a></li>
        </ul>
      </div> 
  
      <div class="col mb-3">
        <h5 class="foo">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="home" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="contacto" class="nav-link p-0 text-muted">Contacto</a></li>
          <li class="nav-item mb-2"><a routerLink="unidad" class="nav-link p-0 text-muted">Pulseras</a></li>
          <li class="nav-item mb-2"><a routerLink="compartir" class="nav-link p-0 text-muted">Pulseras para compartir</a></li>
          <li class="nav-item mb-2"><a routerLink="set" class="nav-link p-0 text-muted">Set de Pulseras</a></li>
          <li class="nav-item mb-2"><a routerLink="tobilleras" class="nav-link p-0 text-muted">Tobilleras</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <h5 class="foo">Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="home" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a routerLink="contacto" class="nav-link p-0 text-muted">Contacto</a></li>
          <li class="nav-item mb-2"><a routerLink="unidad" class="nav-link p-0 text-muted">Pulseras</a></li>
          <li class="nav-item mb-2"><a routerLink="compartir" class="nav-link p-0 text-muted">Pulseras para compartir</a></li>
          <li class="nav-item mb-2"><a routerLink="set" class="nav-link p-0 text-muted">Set de Pulseras</a></li>
          <li class="nav-item mb-2"><a routerLink="tobilleras" class="nav-link p-0 text-muted">Tobilleras</a></li>
        </ul>
      </div>
    
<!--<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>-->